{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
{% for post in posts %}
    <div>
        <div>{{ post.created }} --- {{ post.blog.user.username }}</div>
        <h3>{{ post.title }}</h3>
        <p>
            {{ post.content }}
        </p>
        {% if user in post.read.all %}
        <span style="color: #00ba04">Уже прочитано</span>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" name="submit" value="Прочтено">
        </form>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}