<div>
    <a href="/blog/">Мой блог</a>
</div>
<form method="post">
    {% csrf_token %}
    Подписаться на пользователя:
    <input type="text" name="username" value="">
    <input type="submit" name="submit" value="Подписаться">
</form>

<div>
    <a href="/blogs/">Подписки</a>
</div>