{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<form class="" action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" value="" placeholder="Имя пользователя">
    <input type="password" name="password" value="" placeholder="Пароль">
    <input type="submit" name="submit" value="Войти">
</form>
{% endblock %}